#cart-icon{
    width: 20px;
    height: 20px;
    filter: invert(1);
    object-position: 0px 4px;
}

#search-icon{
    width: 12px;
    height: 12px;
    filter: invert(1);
}

#trip-heading{
    text-align: center;
}

.nav-list {
    display: grid;
    background-color: black;
    width: 100%;
    height: 50px;
    grid-template-columns: 3% repeat(3, 1fr) 4fr 4fr;
    grid-template-rows: 100%;
    margin: 0;
}

.logo{
    background-color: red;
    text-align: center;
    line-height: 50px;
    height: 100%;
}

.nav-link{
    text-align: center;
    line-height: 50px;
}

.end-nav-link{
    text-align: end;
    line-height: 25px;
}

.trips {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-list {
    display: flex;
    background-color: black;
    width: 100%;
    height: 50px;
    gap: 10rem;
    padding-left: 40px;
    align-items: center; 
    justify-content: left;
}

span {
    background-color: red;
    display: inline-block;
    width: 40px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    color: white;
}

input{
    width: 500px;
    height: 30px;
}

form{
    display: flex;
    height: 100%;
    align-items: center;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

h2 {
    text-align: center;
}

a:link{
    text-decoration: none;
    color: white;
}

a:visited{
    text-decoration: none;
    color: white;
}

a:hover{
    color: red;
}

form a{
    line-height: 36px;
}

div img{
    width: 600px;
    height: 300px;
    text-align: center;
}


